<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lang</key>
	<string>Language</string>
	<key>homeMenu</key>
	<string>Home</string>
	<key>settingsMenu</key>
	<string>Settings</string>
	<key>addingMenu</key>
	<string>New</string>
	<key>commentMenu</key>
	<string>Comment</string>
	<key>signInMenu</key>
	<string>Sign In</string>
	<key>namePlaceHolder</key>
	<string>Put the parking zone name here...</string>
	<key>descPlaceHolder</key>
	<string>Say something about it...</string>
	<key>addressPlaceHolder</key>
	<string>Choose its location from the map above...</string>
	<key>settingSection1Title</key>
	<string>Setting filter</string>
	<key>signOutMenu</key>
	<string>Sign Out</string>
</dict>
</plist>
