<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lang</key>
	<string>Language</string>
	<key>homeMenu</key>
	<string>Home</string>
	<key>settingsMenu</key>
	<string>Settings</string>
	<key>addingMenu</key>
	<string>New</string>
	<key>commentMenu</key>
	<string>Comment</string>
	<key>signInMenu</key>
	<string>Sign In</string>
</dict>
</plist>
