<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lang</key>
	<string>Ngôn ngữ</string>
	<key>homeMenu</key>
	<string>Màn hình chính</string>
	<key>commentMenu</key>
	<string>Nhận xét</string>
	<key>addingMenu</key>
	<string>Thêm mới</string>
	<key>settingsMenu</key>
	<string>Cấu hình</string>
	<key>signInMenu</key>
	<string>Đăng nhập</string>
	<key>namePlaceHolder</key>
	<string>Bãi giữ xe có tên chứ...</string>
	<key>descPlaceHolder</key>
	<string>Có gì đặc biệt ở đây nhỉ...</string>
	<key>addressPlaceHolder</key>
	<string>Chọn vị trí của bãi giữ xe từ bản đồ ở trên...</string>
	<key>settingSection1Title</key>
	<string>Cài đặt bộ lọc</string>
	<key>signOutMenu</key>
	<string>Đăng xuất</string>
	<key>transportTypeLabel</key>
	<string>Loại xe</string>
	<key>distanceLabel</key>
	<string>Khoảng cách</string>
	<key>timeOpenAndCloseLabel</key>
	<string>Thời gian hoạt động</string>
	<key>signInMessage</key>
	<string>Hãy đăng nhập để chúng tôi biết bạn là ai</string>
	<key>signOutMessage</key>
	<string>Bạn đã đăng xuất thành công. Hãy đăng nhập lần nữa để kết nối với chúng tôi</string>
</dict>
</plist>
