<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lang</key>
	<string>Ngôn ngữ</string>
	<key>homeMenu</key>
	<string>Màn hình chính</string>
	<key>commentMenu</key>
	<string>Nhận xét</string>
	<key>addingMenu</key>
	<string>Thêm mới</string>
	<key>settingsMenu</key>
	<string>Cấu hình</string>
	<key>signInMenu</key>
	<string>Đăng nhập</string>
	<key>namePlaceHolder</key>
	<string>Bãi giữ xe có tên chứ...</string>
	<key>descPlaceHolder</key>
	<string>Có gì đặc biệt ở đây nhỉ...</string>
	<key>addressPlaceHolder</key>
	<string>Chọn vị trí của bãi giữ xe từ bản đồ ở trên...</string>
</dict>
</plist>
